@model IEnumerable<ProyectoV_Vuelos.Models.BitacorasModel>

@{
    ViewBag.Title = "Detalle_Aeropuerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle_Aeropuerto</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Puerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Puerta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cod_Puerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_Puerta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
        </tr>
    }

</table>

<br></br>

<center>

    <a class="btn btn-dark" @Html.ActionLink("Regresar", "Consulta", "BitacoraCRUD", new { area = "" }, null)</a>

</center>
