@model ProyectoV_Vuelos.Models.AeropuertosModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>AeropuertosModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Consec_Aerop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consec_Aerop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cod_Puerta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Puerta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Puerta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Puerta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Actualizar", new { id = Model.APTID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
