@model ProyectoV_Vuelos.Models.AeropuertosModel

@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<center>

    <div class="form-horizontal">
        <h3 class="text-center">Aereopuertos</h3>
        <hr />

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h5 class="text-center">Consecutivo de Aeropuerto</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Consec_Aerop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Consec_Aerop, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <h5 class="text-center">Codigo de puerta</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cod_Puerta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cod_Puerta, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <h5 class="text-center">Numero de Puerta</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num_Puerta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num_Puerta, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <h5 class="text-center">Estado</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
            </div>
        </div>


        <br />

        <div class="form-group">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Generar" class="btn btn-default border" />
                </div>

                <br />

                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-default border"
                       @Html.ActionLink("Cancelar", "Index")
                </div>
            </div>



        </div>
    </center>
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
