@model ProyectoV_Vuelos.Models.SeguridadModel

@{ ViewBag.Title = "ActualizarRol";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>ActualizarRol</h2>


@using (Html.BeginForm())
{

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Usuario)
        </td>
        <td>
            @Html.CheckBox("Administrador", Model.Administrador.Value)
        </td>
        <td>
            @Html.CheckBox("Seguridad", Model.Seguridad.Value)
        </td>
        <td>
            @Html.CheckBox("Consecutivo", Model.Consecutivo.Value)
        </td>
        <td>
            @Html.CheckBox("Mantenimiento", Model.Mantenimiento.Value)
        </td>
        <td>
            @Html.CheckBox("Consulta", Model.Consulta.Value)
        </td>
        <td>
            @Html.CheckBox("Cliente", Model.Cliente.Value)
        </td>
    </tr>
</table>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}