@model ProyectoV_Vuelos.Models.SeguridadModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Informacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rol
        </dt>

        <dd>
   
            @{

                if (Model.ID_Rol == 1)
                {
                    <span> Administrador </span>
                }
                if (Model.ID_Rol == 2)
                {
                    <span> Seguridad </span>
                }
                if (Model.ID_Rol == 3)
                {
                    <span> Consecutivo </span>
                }
                if (Model.ID_Rol == 4)
                {
                    <span> Mantenimiento </span>
                }
                if (Model.ID_Rol == 5)
                {
                    <span> Consulta </span>
                }
                if (Model.ID_Rol == 6)
                {
                    <span> Cliente </span>
                }


            }
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>


        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
           Primer Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_Apellido)
        </dd>

        <dt>
            Segundo Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_Apellido)
        </dd>

        <dt>
            Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Actualizar Rol", "Actualizar", new { id = Model.USRID }, null) |
    @Html.ActionLink("Regresar", "Index")
</p>