@model ProyectoV_Vuelos.Models.SeguridadModel

@{
    ViewBag.Title = "Generar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Crear Nueva Cuenta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <h5 class="control-label col-md-2">Usuario</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5 class="control-label col-md-2">Contraseña</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <h5 class="control-label col-md-2">Confirmar Contraseña</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.newcontrasena2, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.newcontrasena2, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <h5 class="control-label col-md-2">Nombre</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5 class="control-label col-md-2">Primer Apellido</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Primer_Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Primer_Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5 class="control-label col-md-2">Segundo Apellido</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Segundo_Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Segundo_Apellido, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <h5 class="control-label col-md-2">Pregunta de Seguridad</h5>
        <div class="col-md-10">
            <select class="form-control" id="Pregunta" name="Pregunta">
                <option value="¿Cuál es el primer nombre de tu maestro favorito?">¿Cuál es el primer nombre de tu maestro favorito?</option>
                <option value="¿Cuál es tu comida favorita?">¿Cuál es tu comida favorita?</option>
                <option value="¿Cuál es el nombre de tu mascota favorita?">¿Cuál es el nombre de tu mascota favorita?</option>
                <option value="¿Cuál es el segundo nombre de tu padre?">¿Cuál es el segundo nombre de tu padre?</option>
                <option value="¿Cuál es tu ciudad natal?">¿Cuál es tu ciudad natal?</option>
                <option value="¿Cuál es el nombre de la escuela a la cual asistió?">¿Cuál es el nombre de la escuela a la cual asistió?</option>
            </select>
            @Html.ValidationMessageFor(model => model.Pregunta, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <h5 class="control-label col-md-2">Respuesta de Seguridad</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Respuesta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Respuesta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h5 class="control-label col-md-2">Correo Electronico</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
            <a class="btn btn-default" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)
        </div>
    </div>
</div>
}


