@model IEnumerable<ProyectoV_Vuelos.Models.SeguridadModel>
@@model ProyectoV_Vuelos.Models.SeguridadModel@

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //string user = item.Usuario;
<tr>
    <td>
        @@Html.ActionLink(user, "GetID", new { id = item.USRID }, null)@
        @Html.DisplayFor(modelItem => item.Usuario)
    </td>
    <td>
        @if (item.Administrador == true)
        {
@Html.CheckBox("Administrador", true) }
                else
                {
@Html.CheckBox("Administrador", false)}
    </td>
    <td>
        @if (item.Seguridad == true)
        {
@Html.CheckBox("Seguridad", true) }
                else
                {
@Html.CheckBox("Seguridad", false)}
    </td>
    <td>
        @if (item.Consecutivo == true)
        {
@Html.CheckBox("Consecutivo", true) }
                else
                {
@Html.CheckBox("Consecutivo", false)}
    </td>
    <td>
        @if (item.Mantenimiento == true)
        {
@Html.CheckBox("Mantenimiento", true) }
                else
                {
@Html.CheckBox("Mantenimiento", false)}
    </td>
    <td>
        @if (item.Consulta == true)
        {
@Html.CheckBox("Consulta", true) }
                else
                {
@Html.CheckBox("Consulta", false)}
    </td>
    <td>
        @if (item.Cliente == true)
        {
@Html.CheckBox("Cliente", true) }
                else
                {
@Html.CheckBox("Cliente", false)}
    </td>
    <td>
        @Html.ActionLink("Actualizar Roles", "ActualizarRol", new { id = item.USRID }, null)
        @<button type="submit" class="btn btn-dark mb-3">Actualizar Roles</button>@
    </td>
</tr>}


</table>

<br />

<center>

    <a class="btn btn-default" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>

</center>