
@model IEnumerable<ProyectoV_Vuelos.Models.SeguridadModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ver Usuarios</h2>


<table class="table">
    <tr>
        <th>
            Lista de Usuarios
        </th>

        <th>
            Lista de Roles
        </th>

    </tr>


    <tr>

        <div class="list-group">
            <th>
                @foreach (var item in Model)
                {
                    <button class="list-group-item list-group-item-success-action" value="Seleccionar" id="Seleccionar"> @Html.DisplayFor(modelItem => item.Usuario)</button>
                }
            </th>
        </div>

        <th>
            <table class="table">
                <tr>
                    <th>

                        <h5>Administrador</h5>
                        @Html.CheckBox("Administrador", true)

                    </th>
                    <th>

                        <h5>Seguridad</h5>
                        @Html.CheckBox("Seguridad", true)
                    </th>
                    <th>
                        <h5>Consecutivo</h5>
                        @Html.CheckBox("Consecutivo", true)
                    </th>
                </tr>


                <tr>
                    <th>
                        <h5>Mantenimiento</h5>

                        @Html.CheckBox("Mantenimiento", true)
                    </th>
                    <th>
                        <h5>Consultas</h5>
                        @Html.CheckBox("Consultas", true)
                    </th>
                    <th>
                        <h5>Cliente</h5>
                        @Html.CheckBox("Cliente", true)
                    </th>
                </tr>


    </tr>
</table>
        </th>

</table>

<center>
    <a class="btn btn-default" @Html.ActionLink("Actualizar Roles", "Detalles", new { area = "" }, null) </a>
    <a class="btn btn-default" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>

</center>












