@model IEnumerable<ProyectoV_Vuelos.Models.AerolineasModel>

@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultas de Aerolineas</h2>

@using (Html.BeginForm("Busqueda", "AerolineaCRUD", FormMethod.Post))
{
    <form class="form-group">

        <div>
            <div>
                <div>
                    <div class="form-group mb-1">
                        <label class="font-weight-bold">Nombre del País</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBox("nombre", "", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark mb-3">Buscar</button>

    </form>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagen)
                </td>
            </tr>
        }
    }

</table>

<br></br>

<center>

    <a class="btn btn-default" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>
    <a class="btn btn-default" @Html.ActionLink("Mostrar Todos", "Consulta", "AerolineaCRUD", new { area = "" }, null)</a>

</center>
