@model ProyectoV_Vuelos.Models.AerolineasModel

@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div class="form-horizontal">
            <h3 class="text-center">Aerolineas</h3>
            <hr />

            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h5 class="text-center">Pais de Aerolinea</h5>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Aerol_Pais, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Aerol_Pais, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <h5 class="text-center">Consecutivo de Aerolinea</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Consec_Aerol, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Consec_Aerol, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <h5 class="text-center">Codigo</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <h5 class="text-center">Nombre</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <h5 class="text-center">Logo</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Generar" class="btn btn-default border" />
                </div>

                <br />

                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-default border"
                       @Html.ActionLink("Cancelar", "Index")
                </div>
            </div>
        </div>
    </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
