@model ProyectoV_Vuelos.Models.PaisModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>PaisModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PAISID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAISID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Actualizar", new { id = Model.PAISID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
