@model IEnumerable<ProyectoV_Vuelos.Models.PaisModel>

@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center><h2>Paises</h2></center>
<br></br>


<table class="table">
    <tr>
        <th>
            Codigo del Pais
        </th>
        <th>
            Nombre
        </th>
        <th>
            Bandera
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="70px" height="50px" alt="Bandera">
            </td>
            <td>
                @Html.ActionLink("Editar", "Actualizar", new { id = item.PAISID }, null) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.PAISID }, new { @Class = "MEliminar" })
            </td>
        </tr>
    }

</table>

<br></br>

<center>

    <a class="btn btn-default border" @Html.ActionLink("Generar ", "Generar")</a>

    <a class="btn btn-default border" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>

</center>

@section scripts{

    <script>
        $(".MEliminar").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar el Pais?')) {
                event.preventDefault();
            }
        });
    </script>
}