<div class="jumbotron">
    <h1>Proyecto Servicios Web</h1>
    <p class="lead">Versiones 1.0 Avance I (En Desarrollo CRUD y REST API)</p>
</div>
<div class="row">
    <h1>Partes del sistema</h1>
    <div class="col-md-4">
        <h2>Consecutivos</h2>
        <br></br>
        <p>Consecutivos</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "ConsecutivoCRUD", new { area = "" }, null)</a></p>
        <br></br>
        <p>Aerolinea</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "AerolineaCRUD", new { area = "" }, null)</a></p>
        <br></br>
        <p>Aeropuerto</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "AeropuertoCRUD", new { area = "" }, null)</a></p>
        <br></br>
        <p>Paises</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "PaisCRUD", new { area = "" }, null)</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seguridad</h2>
        <br></br>
        <p>Crear Usuarios</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "SeguridadCRUD/Generar", new { area = "" }, null)</a></p>
        <br></br>
        <p>Asignar Roles</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "SeguridadCRUD", new { area = "" }, null)</a></p>
        <br></br>
        <p>Cambiar Contraseña</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "SeguridadCRUD/Actualizarcontrasena", new { area = "" }, null)</a></p>
        <br></br>
    </div>
    <div class="col-md-4">
        <h2>Consultas</h2>
        <br></br>
        <p>Bitacora</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "BitacoraCRUD/Consulta", new { area = "" }, null)</a></p>
        <br></br>
        <p>Errores</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "ErrorCRUD/Consulta", new { area = "" }, null)</a></p>
        <br></br>
        <p>Descargas</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Ir &raquo;</a></p>
        <br></br>
        <p>Aerolineas</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "AerolineaCRUD/Consulta", new { area = "" }, null)</a></p>
        <br></br>
        <p>Puertas</p>
        <p><a class="btn btn-default" @Html.ActionLink("Ir »", "Index", "AeropuertoCRUD/Consulta", new { area = "" }, null)</a></p>
    </div>
</div>
