@model IEnumerable<ProyectoV_Vuelos.Models.ConsecutivosModel>

@{
    ViewBag.Title = "Tropical Airlines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Consecutivos</h2></center>
<br />

<table class="table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consecutivo)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CSVID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consecutivo)
                </td>


                <td>
                    @Html.ActionLink("Editar", "Actualizar", new { id = item.CSVID }, null) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.CSVID }, new { @Class = "MEliminar" })
                </td>

            </tr>
        }
    }

</table>

<br />

<center>

    <a class="btn btn-default border" @Html.ActionLink("Generar ", "Generar")</a>

    <a class="btn btn-default border" @Html.ActionLink("Regresar", "Index", "Home", new { area = "" }, null)</a>

</center>

@section scripts{

    <script>
        $(".MEliminar").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar el Consecutivo?')) {
                event.preventDefault();
            }
        });
    </script>
}
