<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<header id="header">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar bg-info">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link  text-white" href="#"><b>Tropical Airlines</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-center" >
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><b>Iniciar Sesion</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>

</header>


<br />
<br />
<br />


<body>


    <div class="container body-content">
        @RenderBody()
    </div>


</body>


<br />
<br />
<br />

<footer class="bg-info text-white">
    <div class="row">
        <div class="col-md-4">
            <br></br>
            <p></p>
            <br></br>
            <center>
                <h4><img src="~/Content/Logo/linea aeria blanco-04.png" alt="Icono" / width="150px" height="100px"> <a></a> <b> Tropical Airlines </b></h4>
            </center>
            <br></br>
            <p></p>
            <br></br>
        </div>

        <div class="col-md-3">
            <h4><b>Compañia</b></h4>
            <br></br>
            <p><a href="#" class="text-white">Acerca de nosotros</a></p>
            <br></br>
            <p><a href="#" class="text-white">Novedades</a></p>
            <br></br>
            <p><a href="#" class="text-white">Asociaciones</a></p>
            <br></br>
        </div>

        <div class="col-md-2">
            <h4><b>Soporte</b></h4>
            <br></br>
            <p><a href="#" class="text-white">Ayuda</a></p>
            <br></br>
            <p><a href="#" class="text-white">Contactenos</a></p>
        </div>

        <div class="col-md-3">
            <br></br>
            <p></p>
            <br></br>
            <center>
                <h4><img src="~/Content/icons/circle-cropped.png" alt="Icono" / width="100px" height="100px"></h4>
            </center>
            <br></br>
            <p></p>
            <br></br>
        </div>
    </div>
</footer>


<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@RenderSection("Scripts", required: false)

</html>
